version: "3"
services:
    app:
        build:
            context: docker/prod/app
            dockerfile: Dockerfile
        ports:
            - "9000:9000"
        volumes:
            - ./:/var/www/studcab-back
